<div class="lista_books">
   <h1>Detalhes do Livro</h1>
    <p><strong>ID:</strong> {{book.idbooks}}</p>
    <p><strong>Título:</strong> {{book.title}}</p>
    <p><strong>Autor:</strong> {{book.author}}</p>
    <p><strong>Ano de Publicação:</strong> {{book.publication_year}}</p>
    <div class="actions">
        <a href="/books/edit/{{book.idbooks}}">Edição</a>
        <form action="/books/remove/{{book.idbooks}}" method="POST">
             <button type="submit">Deletar</button>
        </form>
    </div>
</div>